<html>
    <head>
        <title>PhyloDeRef: OWLFile {{file}}</title>
        <style>
            .tree ul { 
                list-style-type: none;
                border-left: 1px solid green;
                padding-left: 0.5em;
            }

            ul.hide { display: none; }
            ul.show { display: block; }
        </style>
    </head>
    <body>
        <h1>OWLFile {{file}}</h1>

        <p>Ontology {{ontology}}.</p>

        <p>Reasoner {{reasoner}}.</p>

        <h3>Tree</h3>
        
        <div class="tree">
        <ul>
            {{#each rootNodes}}
            <li>{{this}}</li>
            <ul>
                {{#each children}}
                <li>{{this}}</li><ul>
                    {{#each children}}
                    <li>{{this}}</li><ul>
                        {{#each children}}
                        <li>{{this}}</li><ul>
                            {{#each children}}
                            <li>{{this}}</li><ul>
                                {{#each children}}
                                <li>{{this}}</li><ul>
                                    {{#each children}}
                                    <li>{{this}}</li><ul>
                                        {{#each children}}
                                        <li>{{this}}</li><ul>
                                            {{#each children}}
                                            <li>{{this}}</li><ul>
                                                {{#each children}}
                                                <li>{{this}}</li><ul>
                                                    {{#each children}}
                                                    <li>{{this}}</li><ul>
                                                        {{#each children}}
                                                        <li>{{this}}</li><ul>
                                                            {{#each children}}
                                                            <li>{{this}}</li><ul>
                                                                {{#each children}}
                                                                <li>{{this}}</li><ul>
                                                                    {{#each children}}
                                                                    <li>{{this}}</li><ul>
                                                                        {{#each children}}
                                                                        <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li>

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}
                                                                        </ul>{{/each}}
                                                                    </ul>{{/each}}
                                                                </ul>{{/each}}
                                                            </ul>{{/each}}
                                                        </ul>{{/each}}
                                                    </ul>{{/each}}
                                                </ul>{{/each}}
                                            </ul>{{/each}}
                                        </ul>{{/each}}
                                    </ul>{{/each}}
                                </ul>{{/each}}
                            </ul>{{/each}}
                        </ul>{{/each}}
                    </ul>{{/each}}
                </ul>{{/each}}
            </ul>{{/each}}
        </ul>
        </div>

        <h3>Individuals by class</h3>

        <ul>
            {{#each individualsByClass}}
            <li>{{@key}}</li>
            <ul>
                {{#each this}}
                <li>{{this}}</li>      
                {{/each}}
            </ul>
            {{/each}}
        </ul>
    </body>
</html>
