<html>
    <head>
        <title>PhyloDeRef: OWLFile {{file}}</title>
        <style>
            .tree ul { 
                list-style-type: none;
                border-left: 1px solid green;
                padding-left: 0.5em;
            }

            ul.hide { display: none; }
            ul.show { display: block; }

            p.errors { color: red; margin-left: 2em; }
        </style>
    </head>
    <body>
        <h1>PhyloDeRef</h1>

        <p>Jump to: <a href="#tree">tree</a>, <a href="#class_membership">class membership</a>, <a href="#properties">properties</a>.</p>

        <h2>Query phyloreference</h2>

        <form method="POST" action="./post">
            <textarea name="phyloreferences" rows="40" cols="160">{{phyloreferences}}</textarea>
            <button type="submit">Update</button>
        </form>

        {{#if errors}}
        <p class="errors">
            {{errors}}
        </p>
        {{/if}}

        <h2>Phyloreferences</h2>

        <p>Jump to: {{#each phylorefs}}<a href="#phyloref_{{@key.IRI.Fragment}}">{{@key.IRI.Fragment}}</a> {{/each}}.</p>

        <div class="tree">
        <ol>

            {{#each phylorefs}}
            <li id="phyloref_{{@key.IRI.Fragment}}">{{@key.IRI}}</li>

            {{#each @key.equivalentClassesAsManchester}}
            <p><strong>Equivalent to:</strong> {{this}}</p>
            {{/each}}

            <ol>
                {{#each this}}
                <li>{{this}}</li>

                <ul>
                    {{#each children}}
                    <li>{{this}}</li><ul>
                        {{#each children}}
                        <li>{{this}}</li><ul>
                            {{#each children}}
                            <li>{{this}}</li><ul>
                                {{#each children}}
                                <li>{{this}}</li><ul>
                                    {{#each children}}
                                    <li>{{this}}</li><ul>
                                        {{#each children}}
                                        <li>{{this}}</li><ul>
                                            {{#each children}}
                                            <li>{{this}}</li><ul>
                                                {{#each children}}
                                                <li>{{this}}</li><ul>
                                                    {{#each children}}
                                                    <li>{{this}}</li><ul>
                                                        {{#each children}}
                                                        <li>{{this}}</li><ul>
                                                            {{#each children}}
                                                            <li>{{this}}</li><ul>
                                                                {{#each children}}
                                                                <li>{{this}}</li><ul>
                                                                    {{#each children}}
                                                                    <li>{{this}}</li><ul>
                                                                        {{#each children}}
                                                                        <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li><ul>
                                                                                {{#each children}}
                                                                                <li>{{this}}</li>

                                                                                {{/each}}

                                                                                </ul>{{/each}}

                                                                                </ul>{{/each}}

                                                                                </ul>{{/each}}

                                                                                </ul>{{/each}}

                                                                                </ul>{{/each}}

                                                                                </ul>{{/each}}

                                                                                </ul>{{/each}}

                                                                                </ul>{{/each}}

                                                                                </ul>{{/each}}
                                                                            </ul>{{/each}}
                                                                        </ul>{{/each}}
                                                                    </ul>{{/each}}
                                                                </ul>{{/each}}
                                                            </ul>{{/each}}
                                                        </ul>{{/each}}
                                                    </ul>{{/each}}
                                                </ul>{{/each}}
                                            </ul>{{/each}}
                                        </ul>{{/each}}
                                    </ul>{{/each}}
                                </ul>{{/each}}
                            </ul>{{/each}}
                        </ul>{{/each}}
                    </ul>{{/each}}
                </ul>{{/each}} 
            <p></p>
            </ol>{{/each}}
        </ol>
        </div>

        <h2>Other visualizations</h2>

        <h3 id="tree">Tree</h3>
        
        <p>Jump to: {{#each rootNodes}}<a href="#tree_root_{{@index}}">{{this}}</a> {{/each}}.</p>

        <div class="tree"><ol>
            {{#each rootNodes}}
            <li id="tree_root_{{@index}}">{{this}}</li>
            <ul>
                {{#each children}}
                <li>{{this}}</li><ul>
                    {{#each children}}
                    <li>{{this}}</li><ul>
                        {{#each children}}
                        <li>{{this}}</li><ul>
                            {{#each children}}
                            <li>{{this}}</li><ul>
                                {{#each children}}
                                <li>{{this}}</li><ul>
                                    {{#each children}}
                                    <li>{{this}}</li><ul>
                                        {{#each children}}
                                        <li>{{this}}</li><ul>
                                            {{#each children}}
                                            <li>{{this}}</li><ul>
                                                {{#each children}}
                                                <li>{{this}}</li><ul>
                                                    {{#each children}}
                                                    <li>{{this}}</li><ul>
                                                        {{#each children}}
                                                        <li>{{this}}</li><ul>
                                                            {{#each children}}
                                                            <li>{{this}}</li><ul>
                                                                {{#each children}}
                                                                <li>{{this}}</li><ul>
                                                                    {{#each children}}
                                                                    <li>{{this}}</li><ul>
                                                                        {{#each children}}
                                                                        <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li><ul>
                                                                            {{#each children}}
                                                                            <li>{{this}}</li>

                                                                            {{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}

                                                                            </ul>{{/each}}
                                                                        </ul>{{/each}}
                                                                    </ul>{{/each}}
                                                                </ul>{{/each}}
                                                            </ul>{{/each}}
                                                        </ul>{{/each}}
                                                    </ul>{{/each}}
                                                </ul>{{/each}}
                                            </ul>{{/each}}
                                        </ul>{{/each}}
                                    </ul>{{/each}}
                                </ul>{{/each}}
                            </ul>{{/each}}
                        </ul>{{/each}}
                    </ul>{{/each}}
                </ul>{{/each}}
            </ul>{{/each}}
        </ol>
        </div>

        <h3 id="class_membership">Class membership</h3>

        <p>Jump to class: {{#each individualsByClass}}<a href="#membership_of_class_{{@key.IRI.Fragment}}">{{@key.IRI.Fragment}}</a> {{/each}}.</p>

        <ul>
            {{#each individualsByClass}}
            <li id="membership_of_class_{{@key.IRI.Fragment}}">{{@key}}</li>
            <ul>
                {{#each this}}
                <li>{{this}}</li>      
                {{/each}}
            </ul>
            {{/each}}
        </ul>

        <h3 id="properties">Properties</h3>

        <ul>
            <li>OWLFile: {{file}}.</li>
            <li>Ontology: {{ontology}}.</li>
            <li>Reasoner: {{reasoner}}.</li>
        </ul>
    </body>
</html>
